<!-- Full Kegs -->
<div class="beerMenu">
  <h1 class="fullHeader">Kegs that still have beer</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>High Alcohol Content</h3>
      <div *ngFor="let keg of childKegsList">
        <div *ngIf="keg.pints > 10 && keg.alcoholContent >= 7">


          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Average Alcohol Content</h3>
        <div *ngFor="let keg of childKegsList">
          <div *ngIf="keg.pints > 10 && keg.alcoholContent < 7 && keg.alcoholContent >= 5">


            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Low Alcohol Content</h3>
          <div *ngFor="let keg of childKegsList">
            <div *ngIf="keg.pints > 10 && keg.alcoholContent < 5 && keg.alcohalContent >= 0">


                </div>
            </div>
          </div>
        </div>
      </div>
